* {
   box-sizing: border-box;
}

:root{
    --primary-text-color: #171100;
    --background-color: #fffcf4;
    --white-color:  #fff;
}
/* đổi đơn vị px sang rem */



html{
    font-size: 62.5%;
}

body{
    /* 1.6rem = 16px */
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
}

/* Common CSS */
a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* Viết CSS cho phần header ở đây */

.header{
    background-color: var(--background-color);
    padding-top: 44px;
    padding-bottom: 44px;
}
.main-content{
    width: 1170px;
    margin-left: auto; /*đưa nội dung sang bên phải*/
    margin-right: auto; /*Có cả 2 dòng này là căn giữa*/
    max-width: calc(100% - 24px); /*Khi thu nhỏ trang web thì trang web thu nhỏ theo*/
}
.header .body{
    display: flex;
    align-items: center; /*căn giữa theo trục dọc*/
}
.header nav{
    display: flex;
    margin-left: auto;
}
.header nav a {
    font-weight: 600;
    font-size: 1.6rem; /*Tức là 16px*/
    line-height: 28px;
    color: #5f5b53;
    padding left: 21px;
    padding-right: 21px;
} 
/* Pseudo class: lớp giả */
.header nav a:hover{
    color: var(--primary-text-color);
    text-shadow: 1px 0 0 currentColor;
}

.header nav a.active{
    font-weight: 600; /*semi-bold*/
    color:var(--primary-text-color);
    position: relative;
}
/* Pseudo element */
.header nav a.active::after{
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    background: var(--primary-text-color);
    display: block;
    position: absolute;
    top: 23px;
    left: 22px;
}

.header .body .btn-sign-up{
    width: 144px;
    /* height: 50px; */
    line-height: 50px;
    background: var(--primary-text-color);
    color: var(--white-color);
    border-radius: 24.5px;
    -webkit-border-radius: 24.5px;
    -moz-border-radius: 24.5px;
    -ms-border-radius: 24.5px;
    -o-border-radius: 24.5px;
    text-align: center;
    margin-left: 49px;
}
/* Hero */
.hero{
    background: var(--background-color);
}

.hero .main-content{
    display: flex;
}

.hero .left-box{
    width: 48.7%;
}

.hero .left-box > img{
    width: 470px;
    height: 685px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.hero .left-box .summary{
    width: 270px;
    height: 244px;
    background-color: #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 24px;
}

.hero .left-box .item{
    display: flex;
    margin: 7px 0; /*top bottom 7px và left rright: 0*/
    margin-top :7px ;
}

.hero .left-box span{
    display: block;
}

.hero .left-box .icon{
    margin-right: 16px;
    width: 48px;
    height: 48px;
}

.hero .left-box .course-content span:first-child{
    font-size: 1.4rem;
    line-height: 26px;
}

.hero .left-box .course-content span:last-child{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 30px;
}

.hero .right-box{
    width: 51.3%;
}